body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2em;
  margin-top: 30px;
  color: #ff0077;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.voter {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.voter:hover {
  transform: scale(1.05);
}

.voter img {
  width: 100%;
  border-radius: 12px;
  border: 3px solid #ff0077;
  box-shadow: 0 0 15px #ff007755;
}

.name {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
}

.ranking-box {
  margin-top: 50px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px #000;
}

.ranking-box h2 {
  color: #00ffff;
  margin-bottom: 15px;
}

#rankingList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#rankingList li {
  background-color: #292929;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
  border-left: 4px solid #00ffff;
  text-align: left;
}